<div id="newwindow" class="window shadow-lg resize bg-white" style="display: inline-flex;">
<div style="height: 100%; width: 100%;">
    <div id="newwindowtitlebar" class="titlebar cursor-move flex flex-row shadow-md" style="text-align: center; height: 50px; width: 100%; justify-content: space-between; align-items: center; padding-right: 22px;">
        <div>
            <button class="pl-5 poppins-regular">
                Save
            </button>
        </div>
        <div style="font-size: 18px;" class="poppins-medium">Text Editor</div>
        <div class="flex-row flex">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 25" stroke-width="2" stroke="black" class="w-5 h-5 mr-3 cursor-pointer color-stone-700">
              <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 25 25" stroke-width="2" stroke="black" class="w-5 h-5 cursor-pointer color-stone-700" id="closebutton">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>         
          </div>
    </div>
    <div class="bg-gray-100" style="height: calc(100% - 50px); padding-left: 40px; padding-right: 40px; padding-top: 40px; padding-bottom: 40px;">
        
<div class="flex items-center justify-center w-full h-full">
    <label for="dropzone-file" class="flex flex-col items-center justify-center w-full border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600" style="height: 100%;" ondrop="">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
            </svg>
            <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">Drag a text file or <span class="font-semibold">Click To create new</span></p>
        </div>
    </label>
</div> 

    </div>
</div>
</div>